# Hyperparameters
LEARNING_RATE=0.001
EPOCHS=10
BATCH_SIZE=64
SEQUENCE_LENGTH=100
EMBEDDING_DIM=128
HIDDEN_DIM=256
N_LAYERS=2
N_HEADS=4
N_TRANSFORMER_LAYERS=2

# Paths
DATASET_PATH=input/shakespeare.txt
MODEL_SAVE_DIR=models/
RESULTS_DIR=results/
